@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Excellence School of Programming & Networking</h1>
    <p class="lead">Our institute guarantees our learners to be made as a professional prgrammer or network administrator</p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>School Manangement System (SMS)</h2>
        <p>
            School Management System provides the user to register the courses for their Students by entering their basic information into the system
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Reopening Notice</h2>
        <p>Due to the 4th wave of covid 19 which is very dangerous our management has decided to close the institute till the situation gets into control just for the lifeguard of the student </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Achievements</h2>
        <p>Our student Shayan Ali has won the international programming competetion.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>